<!DOCTYPE html>
<html lang="en">   
   
   
   <body>
    <div>
     <div class="widgets">
     <div class="widgets__input">
       <span class="material-symbols-outlined"> search
       </span>        
       <input type="text" placeholder="Search Twitter">
      </div>
     </div>
    </div>
    </body>
    
    
</html>